.projects-main-container{
     background-image: url('/src/img/projects-background.svg'); /* path to your file */
     background-repeat: no-repeat;
     background-size: 30vw;
     background-position: left;
     min-height: 80vh;
     padding-top: 40px;
}

.project-container{
     /* border: 1px solid black; */
     height: 30vh;
     max-height: 200px;
     display: flex;
     justify-content: space-between;
     padding: 10px 100px;
     max-width: 1600px;
     margin: auto auto 20px auto;
}

.project-container div img{
     height: auto;
     max-height: 100%;
     max-width: 100%;
     resize: both;
     margin: auto;
}

.project-container div{
     height: 100%;
     /* border: 4px solid pink; */
}

.project-preview, .project-client, .project-technologies, .project-description{
     width: 20%;
     text-align: center;
     display: flex;
}

.project-preview{
     width: 30%;
}

.project-client div, .project-technologies div, .project-description div{
     height: max-content;
     margin: auto;
}

.label-container{
     height: max-content;
}

.label-container div{
     margin: auto auto auto auto;
     font-size: 24px;
}

.h1-text-projects {
    padding: 0px 100px 10px 100px;
}

@media (max-width: 768px) {
     .label-container{
          display: none !important;
     }

     .project-container{
          display: inline;
     }
     
     .project-client, .project-technologies, .project-description{
          width: 90%;
          margin: auto;
     }

     .project-client div, .project-technologies div, .project-description div{
          width: 100%;
          margin-top: 10px;
          font-size: 20px;
     }

     .project-preview{
          width: 60%;
          margin: auto;
     }

     .project-description{
          margin-bottom: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid black;
     }

     .projects-main-container{
          background-position: top left;
          padding-top: 0;
     }

     .h1-text-projects {
          margin: 0;
          padding: 10px 20px 0px 20px;
          font-size: 21px;
     }

     .project-technologies{
          font-weight: bold;
     }
}